.dchat-filter-chat .message[data-dchat-type="game"],
.dchat-filter-chat .message[data-dchat-type="whisper"] {
    display: none !important;
}

.dchat-filter-game .message[data-dchat-type="chat"],
.dchat-filter-game .message[data-dchat-type="whisper"] {
    display: none !important;
}

.dchat-filter-whisper .message[data-dchat-type="chat"],
.dchat-filter-whisper .message[data-dchat-type="game"] {
    display: none !important;
}
